.container {
	background-color: #EB455F;
	margin-top: 100px;
	width: 700px;
	border: solid 1px;
	border-radius: 20px;
	padding:50;
	border-color: #EB455F;
}
.l1 {
	margin-left: 50px;
	margin-top: 50px;
}
.bruh {
	margin-top: 50px;
}
.row2{
	margin-left: 20px;
	margin-right: 20px;
}
.col2{
	margin-top: 20px;
	margin-bottom: 35px;
}
.container1 h1{
	color: white;
}
.container1 label{
	color: white;
}
.container1 h3{
	color: white;
}
.row3 button{
	width: 90%;
	border-radius: 15px;
	background-color: #BAD7E9;
	color: #FCFFE7;
}
.row3{
	margin-top: 10px;
	margin-bottom: 50px;
}
.col3{
	margin-right: 5px;
}